<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Gensim</a></strong>
			- Topic Modelling for Humans, contributor
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">mlpack</a></strong>
			- A scalable C++ machine learning library, member
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Porto Seguro Competition</a></strong>
			- Solution for the Kaggle competition
		</h5>
    </div>
  </div>
</div>
</section>
